:root{
    --darkblue: #030E20;
    --grayishblue:#082048;
    --darkgray: #42496D;
    /* --violette:#ED1365; */
    --violette:#007991;
    --lightviolette: #60EFFF;
    --grayishgray: #7F8BC8;
    --button:#007991;
    --tilte:#60EFFF;
    --buttoncolor:linear-gradient(133.75deg, #007991 57.4%, rgba(163, 247, 181, 0.82) 137.7%);
    --textcolor:#E5F9E0;
    --lightgreen:#A3F7B5;
    --hoverbutton:#E5F9E0;
    --hovertext:#40C9A2;

    
    

}
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
body{
    
    margin: 0rem;
    background-color: var(--darkblue);
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;
    color: white;

}

.Header{
    
    background-color: var(--grayishblue);
    margin-top: 0rem;
    width: 100%;
    height: 3.75rem;
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
    text-decoration: none;
    color: white;
    
}
.buttoncontainer{
    width: 31.25rem ;
    height: 3.75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    

}
.Header img{
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 0.625rem;
    margin-left: 5.75rem;
    position: static;

}
.hdButton{
    /* margin-top: 9px; */
    width: 5.125rem;
    height: 2.25rem;
    background-color: var(--violette);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 20px 20px;
    cursor: pointer;
}
.hdButton a{
    color: white;
    text-decoration: none;
}
.hdButton:hover ,a:hover{
    background-color: var(--hoverbutton);
    color: var(--hovertext);
}
.cicle-1{
    position: absolute;
    top: 5rem;
    left: -1.188rem;
    width: 5rem;
    height:5rem;
    z-index: -1;
}
.cicle-2{
    position: absolute;
    top: 8.563rem;
    left: 27.5rem;
    width: 8.125rem;
    height:8.125rem;
    z-index: -1;
}
.cicle-3{
    position: absolute;
    top: 32.813rem;
    left: 62.75rem;
    width: 18.75rem;
    height:18.75rem;
    z-index: -1;
}
.icon-1{
    position: absolute;
    top: 21.313rem;
    left: 10.188rem;
    width: 2rem;
    height:2.313rem;
    z-index: -1;
    
    
}
.icon-2{
    position: absolute;
    top: 15.375rem;
    left: 10.188rem;
    width: 2.75rem;
    height:2.75rem;
    z-index: -1;
    
    
}
.icon-3{
    position: absolute;
    top: 17.625rem;
    left: 21.813rem;
    width: 1.375rem;
    height:1.375rem;
    z-index: -1;
    fill: white;
    
}
.icon-4{
    position: absolute;
    top: 257px;
    left: 327px;
    width: 33px;
    height:33px;
    z-index: -1;
    fill: white;
    
}
.icon-5{
    position: absolute;
    top: 353px;
    left: 332px;
    width: 24px;
    height:30px;
    z-index: -1;
    fill: white;
    
}

.icon-6{
    position: absolute;
    top: 211px;
    left: 246px;
    width: 27px;
    height:27px;
    z-index: -1;
    
    
}
.icon-7{
    position: absolute;
    top: 387px;
    left: 244px;
    width: 30px;
    height:30px;
    z-index: -1;
    fill: white;
    color: white;
    
}
.icon-8{
    position: absolute;
    top: 497px;
    left: 175px;
    width: 185px;
    height:174px;
    z-index: -1;
    fill: white;
    color: white;
    opacity: 0.8;
    
}
.text{
    position: absolute;
    top: 342px;
    left: 624px;
    width: 483px;
    height: 155px;
}
.text span{
    color: var(--violette);
    font-size: 40px;
}
.text h1{
    font-size: 37px;
    margin: 0px;
}
.text h2{
    font-size: 23px;
    letter-spacing: 8px;
}

.section-end{
    position: absolute;
    top: 745px;
    z-index: -2;
}
.section-end-2{
    position: absolute;
    top: 842px;
    z-index: -2;
}
.cicle-4{
    position: absolute;
    top: 984px;
    left: 74px;
    width: 130px;
    height:130px;
    z-index: -1;
}

.cicle-5{
    position: absolute;
    top: 938px;
    left: 1200px;
    width: 80px;
    height:80px;
    z-index: -1;
}
.section-2 h2{
    position: absolute;
    top: 943px;
    font-size: 23px;
    left: 550px;
    color: var(--lightviolette);
    margin-top: 79px;



}
.text1{
    position: absolute;
    top: 1110px;
    left: 263px;
    width: 600px;
    height: 98px;
    font-size: 21px;
}
.profile{
    position: absolute;
    top: 1038px;
    width :341px;
    height: 331px;
    border-radius: 10%;
    left:884px
}
.section-end-3{
    position: absolute;
    top: 1694px;
    z-index: -2;
}
.section-end-4{
    position: absolute;
    top: 1790px;
    z-index: -2;
}
.section-3 h2{
    position: absolute;
    top: 1860px;
    font-size: 23px;
    left: 550px;
    color: var(--lightviolette);
    margin-top: 79px;



}
.cicle-6{
    position: absolute;
    top: 1886px;
    left: 74px;
    width: 130px;
    height:130px;
    z-index: -1;
}
.cicle-7{
    position: absolute;
    top: 1862px;
    left: 1116px;
    width: 80px;
    height:80px;
    z-index: -1;
}
.cicle-8{
    position: absolute;
    top: 1380px;
    left: 36px;
    width: 270px;
    height:270px;
    z-index: -1;
}
.instabutton{
   position: absolute;
   top:1380px ;
   left: 996px;
    width: 125px;
    height: 54px;
    background-color: var(--violette);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 20px 20px;
}
.project{
    position: absolute;
    top: 2025px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;

}
.project img{
    width:330px ;
    height: 288px;
}
.cicle-9 {
    position: absolute;
    top: 2342px;
    left: 720px;
    width: 270px;
    height: 270px;
    z-index: -1;
}
.section-end-5 {
    position: absolute;
    top: 2687px;
    z-index: -2;
}
.section-end-6 {
    position: absolute;
    top: 2786px;
    z-index: -2;
}
.cicle-10{
    position: absolute;
    top: 2533px;
    left: 426px;
    width: 130px;
    height:130px;
    z-index: -1;
}
.cicle-11{
    position: absolute;
    top: 2968px;
    left: 72px;
    width: 130px;
    height:130px;
    z-index: -1;
}
.cicle-12 {
    position: absolute;
    top: 2960px;
    left: 1116px;
    width: 80px;
    height: 80px;
    z-index: -1;
}
.section-4 h2{
    position: absolute;
    top: 2905px;
    font-size: 23px;
    left: 550px;
    color: var(--lightviolette);
    margin-top: 79px;



}
.section-4 h3{
    position: absolute;
    top: 3000px;
    width: 228px;
    margin-left: -15px;

    font-size: 19px;
    left: 550px;
    color: white;
    margin-top: 79px;
}
.section-4 h3 .ab{
    top: 195px;
    position: absolute;
    
    margin-left: 35px;
    
}
.abilities{
    position: absolute;
    top:3132px;
    left: 239px;
    display: flex;
    width: 65%;
    justify-content: space-between;
}
.abilities-2{
    position: absolute;
    top:3343px;
    left: 239px;
    display: flex;
    width: 65%;
    justify-content: space-between;
}
.abilities-2 img{
    width: 90px;
    height: 90px;
}
.abilities-2 .fr{
    width: 78px;
    height: 73px;
    margin-top: 9px;
}
.section-end-7 {
    position: absolute;
    top: 3758px;
    z-index: -2;
}
.section-end-8 {
    position: absolute;
    top: 3855px;
    z-index: -2;
}
.contact{
    position: absolute;
    top: 4000px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.text-2{
    display: flex;
    flex-direction: column;
}
.text-2 h2{
    font-size: 32px;
    color: var(--violette);
    margin-left: 81px;
}
.text-2 p{
    font-size: 18px;
    margin-left: 81px;
}
.complete{
    display: flex;
    flex-direction: column;
    margin-right: 114px;
    
}
.complete input, .complete textarea{
    width: 605px;
    font-size : 1em !important;
    border-radius: 7px 7px 7px 7px;
    margin-bottom: 20px;
    padding-left: 2%;
    margin-top: 10px;
    padding-top: 0px;
    text-decoration: none;
    background-color: var(--darkgray);
    border: none;
    color: white;
}
.complete .name{
    height: 59px;
}
.complete .email{
    height: 59px;
}
 textarea {
    color: var(--violette);
    height: 25vh;
    font-size : 1em !important;
    
    
}
.section-end-9 {
    position: absolute;
    top: 463px;
    z-index: -2;
}
.footer{
    position: absolute;
    top:4573px;
    width: 100%;
    background-color: var(--grayishblue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.foot{
    margin-left: 112px;
}
.foot h2{
    margin-top: 100px;
    margin-bottom: 100px;
}
.foot-logo{
    width: 111px;
    height: 111px;
    max-width: 100%;
}
.socials img{
    width: 30px;
    height: 30px;

}

.address{
    display: flex;
    flex-direction: column;
}
.cicle-13{
    position: absolute;
    top: 3397px;
    left: 573px;
    width: 18.75rem;
    height:18.75rem;
    z-index: -1;
    opacity: 0.5;
}
.register{
    width: 488px;
    height: 404px;
    background-color: var(--darkgray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #E5E5E5;
    border-radius: 2%;
}
.register h1{
    font-size: 37px;
    z-index: 2;
    width: 170px;
    height: 47px;
    background-color: var(--darkgray);
}
.register span{
    position: absolute;
    top: 57px;
    height: 0px;
    width: 351px;
    border: 1px solid black;
}
.reg-name{
    display: flex;
    flex-direction: row;
    width: 378px;
    justify-content: space-between;
}
.register p {
    margin-bottom: 20px;
    margin-top: 0px;
    width: 377.983px;
    font-size: 14px;
}

.reg-name input{
    width: 165px;
    height: 30px;
    background-color: var(--grayishgray);
    border: none;
    padding-left: 15px;
    color: white;
}
.reg-password{
    display: flex;
    flex-direction: column;
    width: 488px;
    height:auto;
    align-items: center;
    
}
.reg-password input{
    width: 360px;
    height: 30px;
    background-color: var(--grayishgray);
    border: none;
    border-radius: 2%;
    margin-top: 20px ;
    padding-left: 15px;
    
    
}
.reg-password button{
    width: 377px;
    height: 40px;
    background-color: var(--button);
    border: none;
    border-radius: 7px 7px 7px 7px;
    margin-top: 20px ;
    font-size: 23px;
    color: #E5E5E5;
}

