:root{
    --darkblue: #030E20;
    --grayishblue:#082048;
    --darkgray: #42496D;
    --violette:#ED1365;
    --lightviolette: #F34587;
    --grayishgray: #7F8BC8;

}
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
body{
    
    margin: 0rem;
    background-color: var(--darkblue);
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;
    color: white;
}

.Header{
    
    background-color: var(--grayishblue);
    margin-top: 0rem;
    width: 100%;
    height: 3.75rem;
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    z-index: 4;
    
}
.buttoncontainer{
    width: 31.25rem ;
    height: 3.75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.Header img{
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 0.625rem;
    margin-left: 5.75rem;
    position: static;

}
.hdButton{
    /* margin-top: 9px; */
    width: 5.125rem;
    height: 2.25rem;
    background-color: var(--violette);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 20px 20px;
}

.section-end-9 {
    position: absolute;
    width: 100%;
    top: 850px;
    z-index: -2;
}
.footer{
    position: absolute;
    top:965px;
    width: 100%;
    background-color: var(--grayishblue);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 55px;

}

.foot-logo{
    width: 111px;
    height: 111px;
    max-width: 100%;
}
.socials img{
    width: 60px;
    height: 60px;
    padding-right: 40px;
    overflow: visible;

}
.socials h2{
    font-size:5vh;
}

.address{
    display: flex;
    flex-direction: column;
}
.cicle-13{
    position: absolute;
    top: 1397px;
    left: 573px;
    width: 18.75rem;
    height:18.75rem;
    z-index: -1;
}
.register{
    width: 488px;
    height: 404px;
    background-color: var(--darkgray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #E5E5E5;
    border-radius: 2%;
    position: absolute;
    left: 570px;
    top: 200px;
}
.register h1{
    font-size: 37px;
    z-index: 2;
    width: 170px;
    height: 47px;
    background-color: var(--darkgray);
    margin-left: 56px;
}
.register img{
    position: absolute;
    top: -45px;
    width: 125px;
}
.register p{
    margin-left: 246px;
}
.reg-name{
    display: flex;
    flex-direction: row;
    width: 378px;
    justify-content: space-between;
}
.register p {
    margin-bottom: 20px;
    margin-top: 0px;
    width: 377.983px;
    font-size: 14px;
}

.reg-name input{
    width: 165px;
    height: 30px;
    background-color: var(--grayishgray);
    border: none;
    padding-left: 15px;
    color: white;
}
.reg-password{
    display: flex;
    flex-direction: column;
    width: 488px;
    height:auto;
    align-items: center;
    
}
.reg-password input{
    width: 360px;
    height: 30px;
    background-color: var(--grayishgray);
    border: none;
    border-radius: 2%;
    margin-top: 20px ;
    padding-left: 15px;
    
    
}
.reg-password button{
    width: 377px;
    height: 40px;
    background-color: var(--lightviolette);
    border: none;
    border-radius: 7px 7px 7px 7px;
    margin-top: 20px ;
    font-size: 23px;
    color: #E5E5E5;
}



