:root{
    --darkblue: #030E20;
    --grayishblue:#082048;
    --darkgray: #42496D;
    --violette:#007991;
    --lightviolette:  #60EFFF;
    --grayishgray: #7F8BC8;
    --button:#007991;
    --tilte:#60EFFF;
    --buttoncolor:linear-gradient(133.75deg, #007991 57.4%, rgba(163, 247, 181, 0.82) 137.7%);
    --textcolor:#E5F9E0;
    --lightgreen:#A3F7B5;
    --hoverbutton:#E5F9E0;
    --hovertext:#40C9A2;



}
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
body{
    
    margin: 0rem;
    background-color: var(--darkblue);
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;
    color: white;
}

.Header{
    
    background-color: var(--grayishblue);
    margin-top: 0rem;
    width: 100%;
    height: 3.75rem;
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
    
}
.buttoncontainer{
    width: 31.25rem ;
    height: 3.75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.Header img{
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 0.625rem;
    margin-left: 5.75rem;
    position: static;

}
.hdButton{
    /* margin-top: 9px; */
    /* width: 5.125rem;
    height: 2.25rem;
    background-color: var(--violette);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 20px 20px; */
   
}
.hdButton a{
    color: white;
    text-decoration: none;
    width: 5.125rem;
    height: 2.25rem;
    background-color: var(--violette);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 20px 20px;
}
.hdButton a:hover{
    background-color: var(--hoverbutton);
    color: var(--hovertext);
    
}

.section-end-9 {
    position: absolute;
    width: 100%;
    top: 1468px;
    z-index: -2;
}
.footer{
    position: absolute;
    top:1560px;
    width: 100%;
    background-color: var(--grayishblue);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 55px;

}

.foot-logo{
    width: 111px;
    height: 111px;
    max-width: 100%;
}
.socials img{
    width: 60px;
    height: 60px;
    padding-right: 40px;
    overflow: visible;

}
.socials h2{
    font-size:5vh;
}



.welcome{
    position:absolute;
    top:100px;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;

}
.this{
    width: 760px;
    height: 165px;
    margin-left: -213px;

}
.the_thing{
    position:absolute;
    top:317px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.that_thing{
    width: 978px;
    height: 950px;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.that_thing .box{
    
   height: 292px;
   width: 974px;
   background-color: white;
   border-radius: 7px;
   margin-bottom: 33px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.learn{
    color: var(--violette);
    margin-left: 340px;
}
.pages{
    color: var(--violette);
    position: absolute;
    top: 1300px;
    left: 321px;
}